<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Idea</title>
</head>
<body>
<h1>Carga de ideas</h1>

<form method="post" action="" >
{% csrf_token %}
    <label>Tipo</label>
    <select name="tipo">
        {% for tipo in tipos %}
            <option value="{{tipo.id}}" > {{tipo.descripcion}}</option>
        {% endfor %}
    </select>


    <input type="text" name="idea" >
    <input type="submit" value="cargar" >
</form>


<ul>
    {% for idea in ideas_cargadas %}
    <li> {{idea.descripcion}}: {{idea.tipo.descripcion}} </li>
    {% endfor %}

</ul>
</body>
</html>