<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Idea</title>
</head>
<body>
<h1>Carga de tipo de ideas</h1>
<form method="post" action="" >
{% csrf_token %}
    <label>Descripcion</label>
    <input type="text" name="tipo_idea" >
    <input type="submit" value="cargar" >
</form>
<ul>
    {% for tipo in tipos %}
    <li> {{tipo.descripcion}} </li>
    {% endfor %}

</ul>

</body>
</html>